<!DOCTYPE html>
<html>
<head>
    <title>Marten Voorberg</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body class="homepage-container">
    <%- include('nav', {}); %>

    <div class="centered-600 about-container">
        <img src="img/profile_pic.jpg" class="about-pic">
        <h1>Hey, I'm Marten Voorberg</h1>
        <p>
            I'm a developer and webdesigner. I started a few years ago as a hobbyist
            but have gotten more and more serious throughout the years. Currently I study 
            Technical Computer Science at the University of Twente in the Netherlands. Apart from
            being a code monkey I have great passion for mountains too, especially rock climbing and alpinism. 
        </p>
    </div>
</body>
</html>