<!DOCTYPE html>
<html>
<head>
    <title>Marten Voorberg</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body class="homepage-container">
    <%- include('nav', {}); %>

    <div class="centered-text">
        <div class="name">Marten Voorberg</div>
        <div class="programmer">Programmer</div>
        <div class="text">
            Hey, I'm Marten. I develop a wide range of software. Front-end webdevelopment, back-end webdevelopment
            and app development are just some examples. Check out <a href="portofolio">my work</a> over here.
            You can also read a bit <a href="about">about me</a>. Lastly you should never
            hesitate to <a href="contact">get in touch</a> with me.
        </div>
    </div>
</body>
</html>