<nav class="navbar">
    <a class="name" href="/">Marten Voorberg</a>
    <ul class="navitems">
        <li class="navitem"><a href="contact">Contact</a></li>
        <li class="navitem"><a href="about">About Me</a></li>            
        <li class="navitem"><a href="portofolio">Portofolio</a></li>    
    </ul>
</nav>