<!DOCTYPE html>
<html>
<head>
    <title>Marten Voorberg</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"></head>
<body class="homepage-container">
    <%- include('nav', {}); %>

    <div class="centered-600">
        <div class="portofolio-item">
            <h1>Gravitational Simulations<a class="repo-link" href="https://github.com/MartenMoti/pws"><i class="fab fa-github"></i></a></h1>
            <img src="img/temp.jpg">
            <p class="description">
                This software simulates how certain bodies interact with each other due to gravity.
                It was mainly used it to simulate the movement of stars and plantes. It was written
                as part of a research project for my high school graduation. The simulation showed
                that a galaxy where only gravitional forces are in play is not stable. This hinted
                at the existence of dark matter.
            </p>
        </div>

        <div class="seperator"></div>

        <div class="portofolio-item">
            <h1>Title<a class="repo-link" href=""><i class="fab fa-github"></i></a></h1>
            <img src="img/temp.jpg">
            <p class="description">
                this is a filler sentence and this is another bit of text.
                this is a filler sentence and this is another bit of text.
                this is a filler sentence and this is another bit of text.
                this is a filler sentence and this is another bit of text.
                this is a filler sentence and this is another bit of text.
                this is a filler sentence and this is another bit of text.
                this is a filler sentence and this is another bit of text.
            </p>
        </div>
    </div>
</body>
</html>