<!DOCTYPE html>
<html>
<head>
    <title>Marten Voorberg</title>
    <link rel="stylesheet" href="style/style.css">
<body class="homepage-container">
    <%- include('nav', {}); %>

    <div class="centered-600 send-contact-container">
        <h1><span class='orange'>Succesfully</span> Sent an Email</h1>
        <p>I'll get in touch with you as soon as possible</p>
    </div>
</body>
</html>